body
{
	width:100%;
	float:left
}
.header {
    background-color: #fff;
    width: 100%;
    height: 90px;
    position: relative;
	float:none
}
.container
{
    margin: 0 auto;
    max-width: 450px!important;
}
.rushform
{
    display: none;
}
.banner-girl {
 
    position: relative;
}
.banner {
    background: none;
    padding: 0;
 }
h1 {
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}
p
{
    font-size: 15px;
    line-height: 24px;
}
h2
{
    font-size: 23px;
}
h4 {
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}
.banner_description {
    font-size: 16px;
    font-weight: 800;
}
.safe-list-item li {
    display: block;
    line-height: 25px;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}
.safe-list-item strong
{
    display: block;
    color:#b51f27 !important;
    text-transform: uppercase;
}
.header .logo img {
    position: relative;
    z-index: 99;
    max-width: 160px;
    text-align: center;
}
.logo {
    text-align: center;
}
.offer_bg
{
    background-color: #eef4f4;
    padding: 10px ;
}
.offer_bg img
{
    width: 50px;
}
.large_btn {
    background: #FFA500;
    border-radius: 5px;
    outline: none;
    display: inline-block;
    margin: 20px auto 10px auto;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 35px;
    border: none;
    text-decoration: none;
}
.show .large_btn {
    background: #F47A30;
    border-radius: 5px;
    outline: none;
    display: inline-block;
    margin: 20px auto 10px auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 35px;
    border: none;
    text-decoration: none;
}
.float-wrap {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
    position: fixed;
    width: 100%;
    z-index: 99999;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
    padding: 5px 0;
    text-align: center;
}
.float-wrap.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: all ease 0.5s;
    z-index: 999999999;
}
.mobile_main_photo
{
    max-width: 70%;
    margin: 0 15%;
}
.seal_absolute {
    position: absolute;
    top: -70px;
    right: 0px;
    width: 150px;
}
.whycbd_content strong
{
    line-height: 20px;

}
.whycbd_content p
{
    line-height: 22px;
    font-weight: 400;
}
.whyus
{
padding: 90px 0 10px 0;
}
.benifits img {
    /* float: left; */
    float:none !important;
    margin:10px 0
}
.benifits p
{
    padding-left: 0;
    font-size: 14px;
}
.benifits strong {
    display: block;
    font-size: 14px;
}
.use_heading strong {
    padding-bottom: 5px;
    font-size: 16px;
}

.use_heading {
    font-size: 18px;
    font-weight: 800;
    padding: 10px 0px;
}


.table-line .table-title {
    background: #000000;
    text-align: left;
    font-size: 5px;
    padding: 10px;
    line-height: 20px;
}
.compare-table tr span {
    color: #fff;
    font-size: 16px;
}
.compare-table tr:first-child span {
    font-size: 18px;
    line-height: 27px;
    margin: -1px 0 6px;
    display: block;
}
.bottom-img {
    margin: 2px auto 4px;
    width: 50px;
}
.fs24 {
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
.fs13 {
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
}
.fs20{
    font-size: 20px !important;
    font-weight: 800;
    line-height: 35px;
}
.rushorder {
    width: 100%;
    float: left;
    margin: 70px 0;
    background-image: url(../images/relief_banner.png);
    background-position: center center;
    overflow: hidden;
    background-size: cover;
    font-size: 18px;
    color: #fff;
    background-repeat: no-repeat;
}
.rushorder ul.safe-list-item
{
    background-image: url(../images/couple.png);
    background-position: right center;
    overflow: hidden;
    background-size: cover;
    font-size: 18px;
    color: #fff;
    background-repeat: no-repeat;
}
ul.ftrstrip-list li:nth-child(2) {
    width: 40%;
    padding: 0;
}
ul.ftrstrip-list li {
    float: left;
    display: inline-block;
    width: 30%;
    border-right: 1px solid #646464;
    padding: 0;
    color: #fff;
    text-align: left;
    font-size: 20px;
    display: flex;
    align-items: center;
}
ul.ftrstrip-list li:last-child {
    border-right: none;
    padding: 0;
}
ul.steps__list.row {
    padding: 0px;
	margin:0
}
ul.ftrstrip-list li {
    float: left;
    display: inline-block;
    width: 30%;
    border-right: none;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
    display: block;
    align-items: center;
}
ul.ftrstrip-list li img {
    float: none;
    text-align: center;
    max-width: 35px;
}
ul.ftrstrip-list li span.span1 {
    font-weight: normal;
    font-size: 15px;
}
ul.ftrstrip-list li span.span2 {
    font-weight: normal;
    font-size: 15px;
}
.steps
{
	background:transparent !important;
	border:none !important;
	margin-top:0px !Important
}
.steps__item {
    float: left;
    line-height: 14px;
    text-align: center;
    color: #000;
    font-size: 12px !important;
    background-color: #ebebeb;
    list-style: none;
    font-weight: 400 !important;
	padding:10px 5px
}

.package_title {
    width: 65%;
    float: left;
    background-color: #b51f28;
    color: #fff;
    padding: 8px 30px;
    font-size: 18px;
    font-weight: 800;
    line-height: 38px;
    border-radius: 5px 0 0 0;
    position: relative;
}

.package_shipping {
    width: 35%;
    float: left;
    background-color: #000;
    color: #fff;
    padding: 8px 5px;
    font-size: 11px;
    font-weight: 400;
    line-height: 38px;
    border-radius: 0 5px 0 0;
    text-align: center;
}
.small_btn {
    background: #b51f27;
    border-radius: 5px;
    outline: none;
    display: inline-block;
    margin: 20px auto 10px auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 20px;
	text-decoration:none;
	width:70%
}
.package-info {
    float: left;
    width: 41%;
    text-align: center;
    padding-right: 8px;
    padding-top: 10px;
}

.package-info__title {
    font-size: 14px;
    font-weight: 800;
    width: 100%;
    float: left;
}
.package-info__price {
    font-size: 17px;
    font-weight: 800;
    width: 100%;
    float: left;
}
.package_product {
    width: 59%;
    float: left;
    text-align: center;
	position:relative
}
footer{
	padding:10px 0
}

.gurantee_header {
    width: 100%;
    float: left;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    line-height:28px;
    border-radius: 10px 10px 0 0;
    position: relative;
    margin-bottom: 10px;
	text-align:center
} 

.gurantee_box span {
    font-size: 14px;
    font-weight: 600;
}
.discount-alert {
    display: none;
    background: red;
    color: white;
    font-size: 14px;
	    float: left;
    width: 100%;
		font-weight:600
}
.discount-applied {
    display: none;
    background: green;
    color: white;
    font-size: 14px;
	    float: left;
    width: 100%;
	font-weight:600
}

 
 .custom-notification {
      width: 320px;
      border: 0;
      text-align: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-weight: 400;
      border-radius: 6px;
      padding-bottom: 7px;
      -webkit-box-shadow: 2px 2px 10px 2px hsla(0,4%,4%,.2);
      box-shadow: 2px 2px 10px 2px hsla(0,4%,4%,.2);
      background-color: #fff;
      position: fixed;
      cursor: pointer;
      bottom: 90px;
      left: 20px;
      z-index: 9999999999999!important;
      display: none; /* Initially hidden */
  animation: slideInFromBottom 0.5s ease-in-out;
    }
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutToBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
.custom-notification.hide {
  animation: slideOutToBottom 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
    .custom-notification-container {
      display: block!important;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 320px;
      width: 100%;
      height: 90px;
    }

    .custom-notification-image-wrapper {
      float: left;
      width: 80px;
      margin-top: -2px;
    }

    .custom-notification-image-wrapper img {
      max-height: 75px;
      width: auto;
      display: block;
      margin: 10px auto 5px;
      overflow: hidden;
      border-radius: 6px 0 0 6px;
    }

    .custom-notification-content-wrapper {
      margin: 0;
      height: 100%;
      color: gray;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 0 6px 6px 0;
      padding-bottom: 5px;
    }

    .custom-notification-content {
      font-family: inherit!important;
      padding: 0!important;
      font-size: 12px;
      line-height: 16px;
      width: calc(100% - 70px);
      float: left;
      margin-left: 10px;
      padding-bottom: 5px;
      margin-top: 10px;
    }

    .custom-notification-content small {
      margin-top: 3px!important;
      display: block!important;
      font-size: 12px!important;
      opacity: .8;
    }

    .custom-close {
      position: absolute;
      top: 8px;
      right: 8px;
      height: 12px;
      width: 12px;
      cursor: pointer;
      -webkit-transition: .2s ease-in-out;
      -o-transition: .2s ease-in-out;
      transition: .2s ease-in-out;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      opacity: 0;
    }

    .custom-close:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: gray;
      position: absolute;
      left: 0;
      top: 5px;
    }

    .custom-close:after {
      content: "";
      display: block;
      height: 100%;
      width: 2px;
      background-color: gray;
      position: absolute;
      left: 5px;
      top: 0;
    }

    .custom-close:hover .custom-close {
      opacity: 1;
    }

    .custom-social-proof .custom-notification .custom-close::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: gray;
      position: absolute;
      left: 0;
      top: 5px;
    }

    .custom-social-proof .custom-notification .custom-close::after {
      content: "";
      display: block;
      height: 100%;
      width: 2px;
      background-color: gray;
      position: absolute;
      left: 5px;
      top: 0;
    }

    .custom-social-proof .custom-notification:hover .custom-close {
      opacity: 1;
    }
	.package__save {
    background: url(../images/package-save.svg) no-repeat;
    position: absolute;
    right: 10px;
    bottom: 49px;
    width: 60px;
    height: 60px;
    background-size: cover;
    color: #000;
    font-family: Oswald,sans-serif;
}
.package__save_title {
    font-size: 12px;
    line-height: 20px;
    display: block;
    text-align: center;
    margin-top: 15px;
}
.package__save_item {
    text-align: center;
    display: block;
    line-height: 1.4;
    font-size: 10px;
}
.package-images:after, .package-images:before {
    content: "";
    display: block;
    clear: both;
}
.package-info__retail span
{
	text-decoration:line-through
}
.bottom-arrow-grey:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 50px solid #f8f8f8;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}
.bottom-arrow:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 50px solid #eef4f4;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}
.bottom-arrow-steps:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 50px solid #fff;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}
.bottom-arrow-howtouse:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 50px solid #f9f9fa;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}
.btn_pulse {
  -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    animation: 1s ease-in-out infinite alternate pulse
}